/* Estilos generales para el modal */

/* Estilos específicos para el modal personalizado */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    width: 190px;
    max-width: 100%;
    border: 2px solid #ccc;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:hover {
    background-color: #f9f9f9;
}

/* Estilo para el formulario del modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    border-radius: 8px;
}

.modal h3 {
    text-align: center;
    margin-bottom: 20px;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal input, .modal select, .modal button {
    padding: 10px;
    margin-bottom: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

.modal button:hover {
    background-color: #45a049;
}

.modal button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos para la barra de búsqueda */
input[type="text"] {
    padding: 8px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Botón de creación de libro */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Estilo para los mensajes de error */
p {
    color: red;
    font-weight: bold;
}
.delete-button {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #e53935; /* Rojo más oscuro */
}

.delete-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
